*/web-ext-artifacts
firefox_credentials.sh
*/icons
*/*.js
!tests/*.js
!scripts/*.js
node_modules
*/manifest.json
test-results/

.DS_Store
*/.DS_Store
*/.DS_Store?
*/._*
*/.Spotlight-V100
*/.Trashes

.amo-upload-uuid
*/.amo-upload-uuid